
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Tech-sell-stock.IoC.csproj.nuget.g.props
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Tech-sell-stock.IoC.csproj.nuget.g.targets
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Tech-sell-stock.IoC.csproj.nuget.dgspec.json
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/project.nuget.cache
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/project.assets.json
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/Tech-sell-stock.IoC.GlobalUsings.g.cs
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/Tech-sell-stock.IoC.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/Tech-sell-stock.IoC.csproj.AssemblyReference.cache
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/Tech-sell-stock.IoC.assets.cache
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/Tech-sell-stock.IoC.AssemblyInfoInputs.cache
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/Tech-sell-stock.IoC.AssemblyInfo.cs
Tech-sell-stock/05 - IoC/Tech-sell-stock.IoC/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Tech-sell-stock.Database.csproj.nuget.g.targets
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Tech-sell-stock.Database.csproj.nuget.g.props
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Tech-sell-stock.Database.csproj.nuget.dgspec.json
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/project.nuget.cache
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/project.assets.json
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/Tech-sell-stock.Database.GlobalUsings.g.cs
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/Tech-sell-stock.Database.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/Tech-sell-stock.Database.csproj.AssemblyReference.cache
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/Tech-sell-stock.Database.assets.cache
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/Tech-sell-stock.Database.AssemblyInfoInputs.cache
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/Tech-sell-stock.Database.AssemblyInfo.cs
Tech-sell-stock/04 - Database/Tech-sell-stock.Database/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Tech-sell-stock.Application.csproj.nuget.g.targets
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Tech-sell-stock.Application.csproj.nuget.g.props
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Tech-sell-stock.Application.csproj.nuget.dgspec.json
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/project.nuget.cache
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/project.assets.json
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/Tech-sell-stock.Application.GlobalUsings.g.cs
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/Tech-sell-stock.Application.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/Tech-sell-stock.Application.csproj.AssemblyReference.cache
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/Tech-sell-stock.Application.assets.cache
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/Tech-sell-stock.Application.AssemblyInfoInputs.cache
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/Tech-sell-stock.Application.AssemblyInfo.cs
Tech-sell-stock/03 - Applicaton/Tech-sell-stock.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Tech-sell-stock.Domain.csproj.nuget.g.targets
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Tech-sell-stock.Domain.csproj.nuget.g.props
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Tech-sell-stock.Domain.csproj.nuget.dgspec.json
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/project.nuget.cache
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/project.assets.json
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/Tech-sell-stock.Domain.GlobalUsings.g.cs
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/Tech-sell-stock.Domain.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/Tech-sell-stock.Domain.csproj.AssemblyReference.cache
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/Tech-sell-stock.Domain.assets.cache
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/Tech-sell-stock.Domain.AssemblyInfoInputs.cache
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/Tech-sell-stock.Domain.AssemblyInfo.cs
Tech-sell-stock/02 - Domain/Tech-sell-stock.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-stock/01 - API/Tech-sell-stock.Api/Properties/launchSettings.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Tech-sell-stock.Api.csproj.nuget.g.targets
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Tech-sell-stock.Api.csproj.nuget.g.props
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Tech-sell-stock.Api.csproj.nuget.dgspec.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/project.nuget.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/project.assets.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.pdb
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.MvcApplicationPartsAssemblyInfo.cs
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.MvcApplicationPartsAssemblyInfo.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.GlobalUsings.g.cs
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.genruntimeconfig.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.csproj.FileListAbsolute.txt
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.csproj.CoreCompileInputs.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.csproj.CopyComplete
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.csproj.BuildWithSkipAnalyzers
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.csproj.AssemblyReference.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.assets.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.AssemblyInfoInputs.cache
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/Tech-sell-stock.Api.AssemblyInfo.cs
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Tech-sell-stock.Api.props
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Tech-sell-stock.Api.props
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/staticwebassets/msbuild.build.Tech-sell-stock.Api.props
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/staticwebassets.build.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/refint/Tech-sell-stock.Api.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/ref/Tech-sell-stock.Api.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/apphost.exe
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/_IsIncrementalBuild
Tech-sell-stock/01 - API/Tech-sell-stock.Api/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Tech-sell-stock.Api.runtimeconfig.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Tech-sell-stock.Api.pdb
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Tech-sell-stock.Api.exe
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Tech-sell-stock.Api.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Tech-sell-stock.Api.deps.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Microsoft.OpenApi.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/appsettings.json
Tech-sell-stock/01 - API/Tech-sell-stock.Api/bin/Debug/net7.0/appsettings.Development.json
Tech-sell-stock/.vs/Tech-sell-stock/v17/.suo
Tech-sell-stock/.vs/Tech-sell-stock/v17/.futdcache.v2
Tech-sell-stock/.vs/Tech-sell-stock/FileContentIndex/read.lock
Tech-sell-stock/.vs/Tech-sell-stock/FileContentIndex/fe141b7d-4711-47d5-a3cc-01cba00be379.vsidx
Tech-sell-stock/.vs/Tech-sell-stock/FileContentIndex/88a6d1fe-8a5c-4ab9-90b9-ce3395f1e971.vsidx
Tech-sell-stock/.vs/Tech-sell-stock/FileContentIndex/5a77d90e-fd24-4863-b6f4-d487258ddc3f.vsidx
Tech-sell-stock/.vs/Tech-sell-stock/FileContentIndex/0f031dfc-6440-4f52-8306-962dadc1d721.vsidx
Tech-sell-stock/.vs/Tech-sell-stock/DesignTimeBuild/.dtbcache.v2
Tech-sell-stock/.vs/Tech-sell-stock/config/applicationhost.config
Tech-sell-stock/.vs/ProjectEvaluation/tech-sell-stock.projects.v5.2
Tech-sell-stock/.vs/ProjectEvaluation/tech-sell-stock.metadata.v5.2
README.md
.vs/tech-sell-stock/v17/.suo
README.md
README.md
